@media screen and (max-width: 1840px){
    .block-bad-items{max-width: 1370px; margin: 0 auto;}
}

@media screen and (max-width: 1780px){
    
    /* bad list */
        .listener{
            .convertation ul.portfolio-conteiner{  max-width: 1320px; margin: 0 auto; padding: 0;                
            }
        }
    /* bad list */
    
    
}

@media screen and (max-width: 1780px){

    .listener .convertation .artist-list { width: 1160px; max-width: 1160px; margin: 0 auto}
    
}



@media screen and (max-width: 1700px){
    
    /* top slid events */ 
        
        .top-sl .str-box{padding: 100px 160px 550px;
            .super-image {width: calc(100% - 480px);}
            .soc-chick {left: calc(100% - 460px);}
        }
        
        
    /* top slid events */ 
}

@media screen and (max-width: 1540px){
    .agency-wrap .conteiner .agency button {width: calc((100% -  480px)/2);}
}


@media screen and (max-width: 1366px){
    
    /* bad list */
        .listener{
            .convertation ul.portfolio-conteiner{  max-width: 880px; margin: 0 auto; padding: 0;
            
                li.box { }              
                
            }
        }
    /* bad list */

}

@media screen and (max-width: 1390px){
    .block-bad-items{max-width: 910px; margin: 0 auto;}
}

@media screen and (max-width: 1300px){
    .block-bad-items{max-width: 910px; margin: 0 auto;}
    #call-popup {
        .convert {width: 500px; height: auto;}
        .left-p{display: none;}
        .right-p{width: 100%; height: auto; padding: 20px 0;}
    }

}

@media screen and (max-height: 800px){
    #call-popup {
        .convert {width: 500px; height: auto;}
        .left-p{display: none;}
        .right-p{width: 100%; height: auto; padding: 20px 0;}
    }

}

@media screen and (max-width: 1280px){
    /* top slid events */ 
        
        .top-sl .str-box{padding: 20px 20px 550px; }        
        
    /* top slid events */ 
   

}

@media screen and (max-width: 1200px){

    .listener .convertation .artist-list { width: 600px; margin: 0 auto}
    
}

@media screen and (max-width: 1024px){
    

    .listener{ 
        .upper-text{column-count: 2; column-gap: 20px;}
        .adolist-1360{display: block;
            .artist-list{width: 46%; float: left; margin: 0 2%;}
        }
        .convertation .artist-list li .item .conteiner-s .hovered-block .shaped { width: 120%;   height: 100%;}
    }
    
    
    /* top slid events */ 
    
        .top-sl {
            .str-box {
                .soc-chick {display: none; }
                .super-image { width: 50%; }
            }
            .super-title { position: relative; top: 0;
                h2{text-align: center; padding-bottom: 30px; padding-top: 30px; font-size: 96px;}
                .soc-in-title{display: block; width: 100px; left: calc(50% - 50px); bottom: 0; display: flex; align-items: cemter; justify-content: space-between;
                    a{display: inline-block;}
                }
            } 
            .arrows{right: calc(50% - 155px/2);}            
        }

        
    /* top slid events */ 
    
    /* closed projects */
    
        .close-project-wrap .close-project-sl .convertation .close-project-slider li &:hover{
                .conteiner-s:before { bottom: 0; right: auto;}
            }
    
    /* closed projects */
    
}
@media screen and (max-width: 992px){
    .listener{ 
        .adolist-1360{display: block;            
            .convertation .artist-list{width: calc(100% - 30px); float: none; margin: 0 15px;
                li{ margin: 0 auto 40px; float: none;  min-width: 200px; min-height: 0; width: 100%; height: auto;
                }
            }
        }
    }
    
    .listener .convertation ul.portfolio-conteiner li {width: 100%; height: 400px;
        .item{overflow: hidden; width: 100%; height: 100%;}
    }
    
    
    /* bad list */
        .listener{
            .convertation ul.portfolio-conteiner{  max-width: 440px; margin: 0 auto; padding: 0;
            
                li.box { }              
                
            }
        }
    /* bad list */
    
    /* qestion */
        
        .convert-qestion{
            .title-q h2 { font-size: 36px; }
            .sub-q p { font-size: 24px; }
        }

    /* qestion */

    .booking-top-wrap .convert-m .slider-bembi .slick-slide { opacity: 0 ;}
    .booking-top-wrap .convert-m .slider-bembi .slick-slide { opacity: 0 ;}
}

@media screen and (max-width: 960px){
    .block-bad-items{max-width: 455px; margin: 0 auto;}
    
    .listener .convertation ul li .item .conteiner-s:before { bottom: 0 !important; right: 0 !important; opacity: 1 !important;}
    .close-project-sl .listener .convertation ul li .item .conteiner-s:before { bottom: 0 !important; right: 0 !important; left: 0 !important; opacity: 1 !important;}
    .listener .convertation ul li .item .conteiner-s .hovered-block {bottom: 0;}
    .listener .convertation ul li .item .conteiner-s .hovered-block .subtext {opacity: 1; transform: translateX(0) !important;}
}


@media screen and (max-width: 767px){
    .listener .upper-text{column-count: 1; column-gap: 0px; padding: 25px 0;}
    
    
    /* tiltli */
        .title-text {
            h2 { color: #eeae31; font-size: 36px; padding-bottom: 70px;}
            
            .soc-block { width: 100%; top: auto; height: 30px; bottom: 20px;
                .fb { top: 0; right: calc(50% - 40px); }
                .inst { bottom: 0; left: calc(50% - 40px);  }
            }
        }
    
    /* titli */
    
    /* contact */
        .contact-us {     padding-bottom: 280px;
            .text-list { padding-bottom: 10px;}
            #mapper { height: 450px;}
            .form .row{ padding: 0;
                .contact-form-row .contact-form-item { width: 100%; float: none; padding: 10px 0;}                
            }
            .form .contact-form-row-submit{max-width: 100%; width: 100%;}
            .contact-form-textarea{padding: 10px 0 20px;}
        }
    /* contact */
    
    /* pagi */ 
        .pagi-wrap .top-pagi {
            .prew { padding: 0;
                span{display: none;}
                &:before{left: 0; }
            }
            .back-to-port {padding-top: 10px;}
            .next { padding: 0;
                &:before{right: 0; }
                span{display: none;}
            }
        }
    /* pagi */
    
    /* clients */ 
        .conteiner-cli { margin: 0;
            .title-cli h2 { font-size: 36px; padding-top: 20px; padding-bottom: 20px; }
        }
        
        .conteiner-cli .slider-block { padding: 0;
            .arrow-prew {display: none;}
            .arrow-next{display: none;}
        }
        
        .conteiner-cli .slick-slider .slick-list { padding: 0 !important; } 

    /* clients */
    
    /* top slid events */ 
    
        .top-sl {
            .str-box {
                .super-image { width: 100%; max-width: 320px; float: none; margin: 0 auto; }
            }   
            .super-title h2 {font-size: 64px; word-break: break-all; }     
        }
        
        
    /* top slid events */
    
    
    .booking-top-wrap {
        .arrow-prew span{ display: none; }
        .arrow-next span{ display: none; }
    }
}
@media screen and (max-width: 666px){
}


@media screen and (max-width: 479px){
    .listener{ 
        .adolist-1360{display: block;            
            .convertation .artist-list{width: 100%; float: none; margin: 0;
                li{ margin: 0 auto 40px; float: none;  min-width: 200px; min-height: 0; width: 100%; height: auto;
                    .conteiner-s:before{ bottom: 0; right: 0; opacity: 1;}
                        .conteiner-s{
                            .hovered-block{ bottom: 0px; top: calc(100% - 230px); height: 230px; overflow: hidden; padding: 0 0px 10px 10px;
                                .name-band{ padding-top: 90px; font-size: 16px;}
                                .subtext{opacity: 1; font-size: 12px; margin: 0;}
                                .shaped { width: 100%; height: 100%;}
                            }
                        }
                }
            }
        }
    }
    
    /* qestion */
        
        .convert-qestion { padding: 50px 0;
            .title-q h2 { font-size: 26px; }
            .sub-q p { font-size: 14px; }
        }

    /* qestion */
    
    /* top slid events */ 
    
        .top-sl .super-title h2 {font-size: 48px; padding: 40px 0;}
        
    /* top slid events */ 
    
    /* bad list */
        .listener{
            .convertation ul.portfolio-conteiner{  max-width: 100%; margin: 0 auto; padding: 0;
            
                li.box { width: 100%; height: 440px; padding: 10px 0;}              
                
            }
        }
        
    /* bad list */

}
@media screen and (max-width: 420px){
    .listener .convertation ul li .item .conteiner-s .hovered-block .shaped { width: 100%;height: 250px;}
    

}