/* index */

    .index-page{position: relative;opacity: 0;transition:opacity 300ms ease;

        /*change language */

            .leng-change{position: absolute;right: 15px;top:15px;z-index: 2;
                a{display: block;height: 45px;min-width: 45px;display: flex;justify-content: center;align-items: center;background-color: #343434;color:#fff;text-decoration: none;font-size: 18px;text-transform: uppercase;transition:all 300ms ease;
                    &:hover{background-color: #fff;color:#343434;}
                }
            }

        /* /change language */

        /* center line */

            .index-center{position: absolute;left:calc(50% - 5px);top:0;width: 10px;background-color: #1b1b1b;z-index: 2;height: 0;transition:all 300ms ease;
                .index-center-circle{position: absolute;left:calc(50% - 100px);top:150px;width: 200px;height: 200px;border-radius: 50%;background-color:#1b1b1b;display: flex;justify-content: center;align-items: center;transform:scale(0) translateZ(0px);transition: transform 0ms linear .8s;
                    img{margin-top: -10px;}
                }
            }

        /* /center-line */

        /* center-parts */

            .index-parts{position: absolute;left: 0;top: 0;width:100%;height: 100%;
                .part{position: absolute;top:0;width: 50%;height: 100%;
                    .part-wrap{overflow: hidden;position: absolute;top:calc(50% - 270px);left:calc(50% - 270px);width: 540px;height: 540px;border-radius: 50%;z-index: 2;opacity:0;transition:transform 300ms ease, opacity 0ms ease .8s;}
                    &:last-child{
                        .part-wrap{transition:transform 300ms ease, opacity 0ms ease .9s;}
                    }
                    &.part-left{left:0;
                        .part-circle{background-color:rgba(131, 188, 227, .8);}
                    }
                    &.part-right{right:0;
                        .part-circle{background-color: rgba(213, 81, 113, .8);}
                    }

                    .part-circle{display: block;text-align: center;text-decoration: none;color:#fff;width: 540px;height: 540px;

                        .img-shapes{width: 50%;height: 100%;opacity:0;
                            &.shape-left{float: left;shape-outside: url("../images/circle-shape-left.png");}
                            &.shape-right{float: right;shape-outside: url("../images/circle-shape-right.png");}
                        }

                        .part-circle-text{position: relative;display: block;top:50%;transform:translate(0, -50%);

                            p{font-size: 16px;margin: 0;position: relative;line-height: 1.25;font-family:'Helvetica', sans-serif;font-weight: 400;
                                span{font-weight: 700; font-size: 95px;letter-spacing: 1.5px;}
                            }

                        }

                    }

                    &:last-child{
                        .part-circle{transition-delay:1s;}
                    }

                    .part-background{display: block;position: absolute;overflow: hidden;width: 100%;height: 100%;top:0;left:0;z-index: 1;opacity: 0;transition:opacity 300ms ease;
                        img{min-width: 100%;min-height: 100%;max-width: none;position: absolute;left:50%;top:50%;transition:all 300ms ease;}
                    }



                }
            }

        /* /center-parts */

        /* prety show for index page */

            &.loaded{opacity: 1;

                .index-center{height: 100%;
                    .index-center-circle{animation-name:bounceScale;animation-duration:.5s;animation-delay:.3s;transform:scale(1) translateZ(0px);}
                }

                .index-parts{
                    .part{

                        .part-wrap{animation-name:bounceScale;animation-duration:.5s;animation-delay:.4s;transform:scale(1) translateZ(0px);opacity: 1;}

                        .part-background{opacity: 1;}

                        &:last-child{

                            .part-wrap{animation-delay:.5s;}

                        }

                        &.hovered{
                            .part-wrap{transform:scale(1.1);}
                            .part-background{
                                img{transform:scale(1.1);}
                            }
                        }

                    }
                }

            }

        /* prety show for index page */

    }

/* /index */

/* animations */

    @keyframes bounceScale{
        0%{transform:scale(0) translateZ(0px);opacity:1;}
        60%{transform:scale(1.1) translateZ(0px);opacity:1;}
        80%{transform:scale(.8) translateZ(0px);opacity:1;}
        100%{transform:scale(1) translateZ(0px);opacity:1;}
    }

/* /animations */