.listener{    
    .adolist-1360{display: none; 
        .artist-list{width: 40%; float: left; margin: 0 5%;}
    }
    .adolist-1920{display: block; }
        
    .convertation{ padding: 0 15px;
        .artist-conteiner{ overflow: hidden; width: 100%; ; position: relative; padding: 0;
            li{float: left; min-width: 256px; min-height: 256px;
                img{ width: 100%; height: 100%;}
            }
        }
        
        
        .artist-list{ overflow: hidden; width: 30%; float: left ; margin: 0 calc(10%/6); position: relative; padding: 0;}
        ul{
             li{ display: block; margin-bottom: 40px; max-width: 560px; float: left; min-width: 256px; min-height: 256px;
                .item{ position: relative;
                    .conteiner-s{overflow: hidden; position: relative; 
                        .image-block{width: 100%;
                            img{width: 100%; height: auto;}
                        }
                        .hovered-block{position: absolute;  bottom: -95px; left: 0; height: 320px; right: 0; width: 100%; text-align: justify; padding: 0 30px 30px ;transition: all 0.5s;
                            .name-band{ padding-top: 170px; font-size: 18px; font-family: "Helvetica", sans-serif; color: rgb(255, 255, 255); font-weight: bold; line-height: 1.2; }
                            .subtext{ font-size: 14px; font-family: "Helvetica", sans-serif; color: rgb(67, 67, 67); display: block; height: 70px; opacity: 0; transition: all 0.5s;}
                            .shaped { width:100%; height: 100%; float: right; shape-outside: polygon(0 0, 100% 0%, 100% 100%, 100% 100%); shape-margin: 20px;}

                        }
                        &:before{content: ''; position: absolute; bottom: -100%;  right: 100%; width: 0; height: 0; border-style: solid; border-width: 400px 0 0 560px; border-color: transparent transparent transparent rgba(238, 174, 49, 0.9); opacity: 0; transition: all 0.5s;}
                    }
                }
                &:hover{
                    .conteiner-s:before{ bottom: 0; right: 0; opacity: 1;}
                    .conteiner-s{
                        .hovered-block{ bottom: 0px;
                            .name-band{ }
                            .subtext{opacity: 1;}
                        }
                    }
                }
            }
        }
    }
    .convertation ul.portfolio-conteiner li .item .conteiner-s .image-block img { width: auto; min-height: 400px; min-width: 400px; }
    
    .convertation ul.portfolio-conteiner li {max-width: 840px; margin-bottom: 0; min-height: 400px; padding: 20px;}
    .convertation ul.portfolio-conteiner{
        li .conteiner-s:before  {left: 0; right: auto; border-width: 400px 0 0 400px;}
        li:hover .conteiner-s:before  {left: 0; right: auto; border-width: 400px 0 0 400px;}
        .conteiner-s .hovered-block{ max-width: 400px; }
    } 
        
    
}
.upper-text{column-count: 3; column-gap: 60px; padding: 55px 0; font-family: 'Helvetica', sans-serif; font-weight: 400; font-size: 14px; line-height: 1.2; color: rgb(110, 110, 110);}

/* titles */
    .title-text{ position: relative; text-align: center;
        h2{color: rgb(238, 174, 49); font-size: 72px; font-family: "Helvetica", sans-serif; font-weight: bold; text-transform: uppercase; margin: 0; padding: 35px 0;}
        .soc-block{position: absolute; right: 0; width: 30px; top: 0; bottom: 0;
            a{text-decoration: none; display: block; position: absolute; border-radius: 50%; overflow: hidden; transition: all 0.3s; width: 30px; height: 30px; 
                &:hover{background-color: orange;}
            }
            .fb{top: 35px; background-color: #3a589b;  padding: 6px 0;
                img{height: 18px; }
            }
            .inst{bottom: 35px; background-color: #517fa6; padding: 7px 0;}
        }
    }
/* titles */ 

/* button */

    button{width: 100%; height: 53px; background-color: #eeae31; border-radius: 18px; border: none; outline: none; transition: all 0.5s;
        span{ text-transform: uppercase; font-weight: 500; font-size: 14px; font-family: "Helvetica", sans-serif;  color: rgb(7, 7, 7); line-height: 1.2;  }
        &:hover{background-color: #DA9716;}
    }            

/* button */

/* contacts */

    .contact-us{ background-image: url(../images/about-bg.jpg); background-position: bottom; background-repeat: no-repeat; padding-bottom: 370px;
        .text-list{ padding-bottom: 40px;
            ul{list-style: none;}
            li{ text-align: center;  font-size: 18px; font-family: "Helvetica", sans-serif; color: rgb(55, 55, 55); line-height: 1.2; padding: 10px 0;
                b{ font-weight: 700;}
                span, a{display: inline; text-decoration: none; color: rgb(55, 55, 55); transition: all 0.3s;}
                a:hover{color: #ffa900; }
            }
        }
        #mapper{height: 540px;margin: 0 -15px; width: calc(100% + 30px); }
        .form{width: 100%; padding-top: 40px;
            .row{ width: 100%; padding: 10px 0;
                .contact-form-row{  
                    .contact-form-item{ width: 48%; float: left;
                        &:nth-child(2){float: right;}                    
                    }
                }
                textarea, input{ width: 100%; height: 52px; border: 1px solid #e2e2e2; background-color: transparent; border-radius: 18px; padding-left: 30px;  font-size: 14px;   font-family: "Helvetica", sans-serif;  color: rgb(167, 167, 167); font-weight: 300;  line-height: 1.2;
                    &.error{border-color: red;
                        &::-webkit-input-placeholder {color: red; }
                        &:-moz-placeholder {color: red; opacity:1;}
                        &::-moz-placeholder {color: red; opacity:1;}
                        &:-ms-input-placeholder {color: red; }
                    }
                }
                input, textarea{
                    &::-webkit-input-placeholder {color: rgb(167, 167, 167); }
                    &:-moz-placeholder {color: rgb(167, 167, 167); opacity:1;}
                    &::-moz-placeholder {color: rgb(167, 167, 167); opacity:1;}
                    &:-ms-input-placeholder {color: rgb(167, 167, 167); }
                }
                textarea{ width: 100%; height: 157px; padding-top: 20px; line-height: 1.2; resize: none; }
                .errorText{display:  none !important;}
            }
            .contact-form-row-submit{ max-width: 280px; }
        }
    }

/* contacts */


/* paginatop block */ 
    
    .pagi-wrap{
        .top-pagi{ display: flex; align-items: center; justify-content: space-between; height: 100px;
            a{text-decoration: none; position: relative; font-size: 16px; font-family: "Helvetica", sans-serif; color: rgb(41, 41, 41);  line-height: 1.2; font-weight: 400; transition: all 0.3s;
                &:before{content: ''; position: absolute; transition: all 0.3s;}
                &:hover{ color: #ffa900;
                    &:before{border-top: 1px solid #ffa900; border-left: 1px solid #ffa900; }
                }
                &.prew{ padding-left: 40px; 
                    &:before{ width: 21px; height: 21px; border-top: 2px solid black; border-left: 2px solid black; transform: rotate(-45deg); left:10px; top: -3px; }
                    &:hover{ color: #ffa900;
                        &:before{border-top: 2px solid #ffa900; border-left: 2px solid #ffa900; }
                    }
                }
                &.next{ padding-right: 40px; 
                    &:before{ width: 21px; height: 21px; border-top: 2px solid black; border-left: 2px solid black; transform: rotate(135deg); right: 10px; top: -3px; }
                    &:hover{ color: #ffa900;
                        &:before{border-top: 2px solid #ffa900; border-left: 2px solid #ffa900; }
                    }
                }
             }
        }
        .soc-like{ padding-bottom: 50px; text-align: center;
            a{display: inline-block; margin: 0 auto;}
         }
    }
    
/* paginatop block */ 


/* booking qestions */
    
    .convert-qestion { padding: 110px 0 100px;    
        .title-q { 
            h2{font-size: 72px; font-family: "Helvetica", sans-serif; color: rgb(255, 255, 255); text-transform: uppercase;  line-height: 1.2; font-weight: 900; text-align: center; margin: 0;}
        }
        .sub-q{ padding-bottom: 40px;
            p{ font-size: 30px; font-family: "Helvetica", sans-serif; color: rgb(255, 255, 255); line-height: 1.2; margin: 0; text-align: center;}
        }
        .butt{
            .button{max-width: 480px; margin: 0 auto; height: 62px; border-radius: 31px;  text-decoration: none; display: flex; justify-content: center; align-items: center; color: white; font-size: 16px;  font-family: "Helvetica", sans-serif; text-transform: uppercase; font-weight: 500;line-height: 1.2; transition: all 0.5s;
                &:hover{background-color: white; }
            }
        }
    }
    
    .booking{
        .convert-qestion { background-image: url(../images/bg-q-on-booking.jpg); background-size: cover; background-position: center center; 
            .butt{
                .button{ background-color: #8ecdf6; color: white;
                    &:hover{background-color: white; color: #8ecdf6 ;}
                }
            }
        }
    }
    
    .events{
        .convert-qestion{ background-image: url(../images/bg-q-on-booking.jpg); background-size: cover; background-position: center center; 
            .butt{
                .button{ background-color: #d5517b; color: white;
                    &:hover{background-color: white; color: #d5517b; }
                }
            }
        }
    }
   
    
/* booking qestions */


/* clients */ 
    .conteiner-cli{ margin-top: - 20px; padding-bottom: 70px;
        .title-cli{ text-align: center;
            h2{margin: 0; font-size: 65px; font-weight: 900; font-family: "Helvetica", sans-serif;   color: rgb(226, 85, 133); text-transform: uppercase;  line-height: 1.2;}
        }  
        .slider-block{position: relative; width: 100%; overflow: hidden; padding: 0 70px;
            .cont-slid{min-height: 450px;}
            .item{ ;
                .conteiner{max-width: 320px; padding-bottom: 30px; margin: 0 auto;}
                .top-face{  width: 100%; 
                    .cont{ margin: 0 auto; border-radius: 50%; width: 260px; height: 260px; overflow: hidden; position: relative; transition: all 0.5s;
                        img{position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); max-width: none;}
                    }
                }
                .name{ padding-top: 28px; font-size: 24px; font-family: "Helvetica", sans-serif;   color: rgb(44, 44, 44); font-weight: bold; text-align: center;}
                .text{ padding-top: 28px; font-size: 14px; font-family: "Helvetica", sans-serif;   color: rgb(110, 110, 110); line-height: 1.2; text-align: center;}
            }
            
            .slick-slide{ padding-top: 60px; opacity: 0; transition: all 0.3s;
                .top-face .cont{ width: 200px; height: 200px;  }
                .name{opacity: 0;}
                .text{opacity: 0;}
            }
            
            .slick-active{opacity: 1;}
            
            .slick-current{ padding: 0; transition: all 0.3s;
                .top-face .cont{ width: 260px; height: 260px; }
                .name{opacity: 1;}
                .text{opacity: 1;}
                
                
            }
            .slick-prev{width: 0px; height: 0px; visibility: hidden; opacity: 0; pointer-events: none;}
            
            .arrow-prew{position: absolute; top: 50%; padding-left: 40px; cursor: pointer; left: 0;
                &:before{ position: absolute; content: ''; width: 21px; height: 21px; border-top: 2px solid black; border-left: 2px solid black; transform: rotate(-45deg); left: 10px; top: -3px; }
                &:hover{ color: #ffa900;
                    &:before{border-top: 2px solid #ffa900; border-left: 2px solid #ffa900; }
                }
            }
            
            .arrow-next{position: absolute; top: 50%; padding-right: 40px; cursor: pointer; right: 0; transition: all 0.3s; 
                &:before{ position: absolute; content: ''; width: 21px; height: 21px; border-top: 2px solid black; border-left: 2px solid black; transform: rotate(135deg); right: 10px; top: -3px; transition: all 0.3s;  }
                &:hover{ color: #ffa900;
                    &:before{border-top: 2px solid #ffa900; border-left: 2px solid #ffa900; }
                }
            }
            
            .slick-dots{
                li {
                    button:before {content: ''; width: 10px; height: 10px; background-color: #8b8b8b; border-radius: 50%; opacity: 1; transition: all 0.3;}
                    &:hover{
                        button:before { background-color: #d5527b;  opacity: 0.5;}
                    }
                    &.slick-active button:before {content: ''; width: 10px; height: 10px; background-color: #d5527b;}
                }
            }
            
        }  
    }
/* clients */



/* plugin */ 

/* plugin */

