//about-us
.about-us{background: url('../../images/about-us-background.jpg') no-repeat; background-size: cover; background-position: 50% 50%;	
	.mbox{
		h2{
			
		}
		.soc-block{
			.inst{
				img{}
			}
			.fb{
				img{}
			}
		}
		.about-us-text{padding:23px 0px 400px 0px;
			p{ text-align: left;
				
			}
		}
	}
}
//header
header{ max-height: 155px; background: #2d2d2d;
	.wrapper{width: 100%; background-image: url(../images/head-bg.jpg); background-size: cover; 
		.mbox{display: flex; justify-content: space-between; padding-bottom: 40px; padding-top: 30px;
			
			a{display: block;	 
				img{max-width: none;
				}
			}
			nav{display: flex; justify-content: space-between; width: 800px; padding: 0px 140px 0px 180px; align-items: center;
				a{display:block; font-size: 14px; color: #fff; text-decoration: none; vertical-align: middle; transition: all 0.3s;
					
				}
			}
			.language-button{ order: 1; align-self: center;
				a{ text-transform: uppercase; text-decoration: none; color: #fff; padding: 0px 20px;
					&:hover{color: #659bca;
					}
				}
			}
		}
	}
}

.about-us header .wrapper .mbox a:hover{color: #ffa900;}
.artist_list header .wrapper .mbox a:hover{color: #ffa900;}
.booking header .wrapper .mbox a:hover{color: #6ca8db;}
.contact header .wrapper .mbox a:hover{color: #ffa900;}
.events header .wrapper .mbox a:hover{color: #e25585;}
.portfolio header .wrapper .mbox a:hover{color: #ffa900;}
.portfolio_open header .wrapper .mbox a:hover{color: #ffa900;}

//booking partners
.booking_partners{ padding-bottom: 20px;
	.partners-heading-wrapper{ padding: 0px 0px 40px 0px;text-align: center;
		.booking-partners-heading{ margin: 0 auto; text-transform: uppercase; padding: 10px 0;font-size: 48px; border-top: 5px solid #444444; border-bottom: 5px solid #444444; color: #444444; display: inline-block;

		}	
	}
	.partners-table{width: 100%; display: flex; flex-wrap: wrap;
		div{border-top: 1px solid #e3e3e3 !important; border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; width: calc(100% / 6); height: 150px; text-align: center; border-top: none; padding-left: 10px;padding-right: 10px;line-height: 100px; 
			img{
				
			}
		}	
	}
	
}

//events experience tabs

.experience{font-family: 'Helvetica1';
	.exp-heading{ width: 100%; text-align: center; background: url('../../images/experience-header-background.jpg') no-repeat; background-size: cover; position: 50% 50%; padding: 10px 0px 105px 0px;
 		h2{font-size: 64px;  font-weight: bold; font-family: 'Helvetica1'; color: #e25585; text-align: center; margin: 30px 0px;}
		span{font-size: 30px; color: #fff; display: inline-block;}
	}
	.experience-tabs{display: flex; position: relative ;margin-top: -65px; flex-wrap: wrap;
		.tabs-nav{ width: 100%; display: flex; justify-content: center; margin-bottom: 30px;
			.exp-tab{ padding: 10px 15px; height: 65px; color: #fff; border-top-left-radius: 15px; border-top-right-radius: 15px; cursor: pointer; font-size: 16px; font-weight: bold; display: flex; align-items: center; text-align: center; justify-content: center;
				p{margin: 0;}
			}
		}
		.tab-content{ width: 100%;display: none; float:left; clear: both; background: url('../../images/exp-tab-content-background.jpg') no-repeat; background-size: cover;     background-position: top; background-position: 50% 50%; padding: 0px 0px 600px 0px;
			&:nth-child(2){display: block;}
			.partners-table{width: 100%; display: flex; flex-wrap: wrap;
				div{border: 1px solid #e3e3e3 !important; width: calc(100% / 6); height: 150px; text-align: center; border-top: none; padding-left: 10px;padding-right: 10px;line-height: 100px; 
					img{
						
					}
				}	
			}
		}
		.active-tab{ background: #fff; color: #797979!important;
		}
	}
}

