@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

    /* footer */

        .footer{padding: 20px 0 0 0;

            .footer-wrap{flex-wrap:wrap;justify-content: space-around;text-align: center;
                div{margin-bottom: 20px;}
                .footer-left{width: 100%;}
                .footer-right, .footer-center{width: 50%;}
                .footer-center{display: flex;justify-content: center;}
                .footer-right{display: flex;justify-content: space-around;flex-wrap:wrap;
                    p{min-width: 60%;}
                }
            }

        }

    /* /footer */

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

    /* footer */

        .footer{
            .footer-wrap{
                .footer-right, .footer-center{width: 100%;}
                .footer-right{
                    p{justify-content: center;}
                }
            }
        }

    /* /footer */

}
@media screen and (max-width: 320px){

}

/* index-page adaptation */

    @media screen and (max-height: 700px), screen and (max-width: 1280px){

        .index-page{
            .index-parts{
                .part{
                    .part-wrap{width: 400px;height: 400px;top:calc(50% - 200px);left:calc(50% - 200px);}
                    .part-circle{width: 400px;height: 400px;
                        .part-circle-text{
                            p{font-size: 14px;
                                span{font-size: 65px;}
                            }
                        }
                    }
                }
            }
        }

    }

    @media screen and (max-height:500px), screen and (max-width: 992px){

       .index-page{

            .index-center{width: 100%;left: 0;top:calc(50% - 5px);height: 10px;z-index: 3;transform:scale(0);
                .index-center-circle{top:calc(50% - 100px);}
            }

            .index-parts{position: relative;
                .part{position: relative;width: 100%;min-height: 490px;}
            }

            &.loaded{

                .index-center{transform:scale(1);height: 10px;}

            }

            &~.footer{
                .footer-wrap{
                    .footer-center{position: static;transform:translate(0, 0);}
                }
            }

       }

    }

    @media screen and (max-width: 480px), screen and (max-height: 320px){

        .index-page{

            .index-center{
                .index-center-circle{width: 100px;height: 100px;top:calc(50% - 50px);left:calc(50% - 50px);
                    img{max-height: calc(100% - 25px);max-width:calc(100% - 25px);}
                }
            }

            .index-parts{
                .part{min-height: 470px;
                    .part-wrap{width: 300px;height: 300px;top:calc(50% - 150px);left:calc(50% - 150px);}
                    .part-circle{width: 300px;height: 300px;
                        .part-circle-text{
                            p{font-size: 12px;
                                span{font-size: 50px;}
                            }
                        }
                    }
                }
            }

        }

    }

/* index-page adaptation */