.about-us{background: url('../../images/about-us-background.jpg') no-repeat; background-size: cover; background-position: 50% 50%;	
	.mbox{
		h2{
			
		}
		.soc-block{
			.inst{
				img{}
			}
			.fb{
				img{}
			}
		}
		.about-us-text{padding-bottom: 400px;
			p{ text-align: left;
				
			}
		}
	}
}