@media screen and (max-width: 1920px){
	header{ 
		.wrapper{
			.mbox{
				img{
				}
				nav{
					a{
						&:hover{
						}
					}
				}
				.language-button{ 
					a{ 
						&:hover{
						}
					}
				}
			}
		}
	}

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
	.fancybox-wrap{
	width: 55%!important;
	min-width: 300px;
	}
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
	.fancybox-wrap{
	width: 75%!important;
	min-width: 300px;
	}
	.about-us{
		.mbox{
			.upper-text{column-count: 2;
				
			}
		}
	}
}
@media screen and (max-width: 992px){
	header{ 
		.wrapper{
			.mbox{
				img{
				}
				nav{ width: 700px; padding: 0px 40px 0px 80px;
					a{
						&:hover{
						}
					}
				}
				.language-button{ 
					a{ 
						&:hover{
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.about-us{
		.mbox{
			h2{
				
			}
			.soc-block{
				.inst{
					img{}
				}
				.fb{
					img{}
				}
			}
			.about-us-text{padding-bottom: 500px;column-count: 1;
				p{ 
					
				}
			}
		}
	}

	header{ 
		.wrapper{
			.mbox{
				img{
				}
				nav{ width: 700px; padding: 0px 0px 0px 40px;
					a{padding: 0 10px;
						&:hover{
						}
					}
				}
				.language-button{ 
					a{ 
						&:hover{
						}
					}
				}
			}
		}
	}

	.experience{ 
		.experience-tabs {margin-top: -45px;
			.tabs-nav{
				.exp-tab{ text-align: center; 
					p{
						
					}
				}
			}
		 	.tab-content{ padding: 0px 0px 900px 0px;
				.partners-table{
					div{width: calc(100% / 3);
					}
				}
			}	
		}
	}	
	.booking_partners{
		.partners-heading-wrapper{ 
			.booking-partners-heading{ font-size: 38px; width: 340px;

			}	
		}
		.partners-table{
			div{width: calc(100% / 3);
			}
		}
	}
}
@media screen and (max-width: 666px){
	.about-us{
		.mbox{
			h2{
				
			}
			.soc-block{
				.inst{
					img{}
				}
				.fb{
					img{}
				}
			}
			.about-us-text{padding-bottom: 600px;
				p{ 
					
				}
			}
		}
	}
	
	header{ 
		.wrapper{
			.mbox{
				img{
				}
				nav{ width: 700px; max-height: 100%; padding: 0px 0px 0px 20px; flex-wrap: wrap; justify-content: center; 
					a{padding: 0 10px;line-height: 100%;
						&:hover{
						}
						&:last-child{
							
						}
					}
				}
				.language-button{ 
					a{ 
						&:hover{
						}
					}
				}
			}
		}
	}

	.booking_partners{
		.partners-heading-wrapper{ 
			.booking-partners-heading{ font-size: 38px; width: 340px;

			}	
		}
		
	}
	.experience{ 
		.experience-tabs { margin-top: -45px;
			.tabs-nav{
				.exp-tab{ padding: 10px 25px; text-align: center;  font-size: 14px; 
					p{
						
					}
				}
			}
		 	.tab-content{ padding: 0px 0px 1300px 0px;
				.partners-table{
					div{width: calc(100% / 2);
					}
				}
			}	
		}
	}	
}
@media screen and (max-width: 479px){
	.about-us{
		.mbox{
			h2{
				
			}
			.soc-block{
				.inst{
					img{}
				}
				.fb{
					img{}
				}
			}
			.about-us-text{padding-bottom: 800px;
				p{ 
					
				}
			}
		}
	}

	.booking_partners{
		.partners-heading-wrapper{ 
			.booking-partners-heading{ font-size: 30px; width: 270px;

			}	
		}
		.partners-table{
			tr{
				td{
					img{
						
					}
				}
			}
		}
	}
}
@media screen and (max-width: 320px){

}