@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1380px){
  
}
@media screen and (max-width: 1366px){
    .listener{ 
        .adolist-1360{display: block;
            .artist-list{width: 40%; float: left; margin: 0 5%;}
        }
        .adolist-1920{display: none;}
    }

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

    .listener{ 
        .upper-text{column-count: 2; column-gap: 20px;}
        .adolist-1360{display: block;
            .artist-list{width: 46%; float: left; margin: 0 2%;}
        }
        .convertation .artist-list li .item .conteiner-s .hovered-block .shaped { width: 120%;   height: 100%;}
    }
}
@media screen and (max-width: 992px){
    .listener{ 
        .adolist-1360{display: block;            
            .convertation .artist-list{width: calc(100% - 30px); float: none; margin: 0 15px;
                li{ margin: 0 auto 40px; float: none;  min-width: 200px; min-height: 0; width: 100%; height: auto;
                }
            }
        }
    }
    
    .listener .convertation ul.portfolio-conteiner li {width: 100%; height: 400px;
        .item{overflow: hidden; width: 100%; height: 100%;}
    }
    
    /* qestion */
        
        .convert-qestion{
            .title-q h2 { font-size: 36px; }
            .sub-q p { font-size: 24px; }
        }

    /* qestion */

}
@media screen and (max-width: 767px){
    .listener .upper-text{column-count: 1; column-gap: 0px; padding: 25px 0;}
    
    
    /* tiltli */
        .title-text {
            h2 { color: #eeae31; font-size: 36px; padding-bottom: 70px;}
            
            .soc-block { width: 100%; top: auto; height: 30px; bottom: 20px;
                .fb { top: 0; right: calc(50% - 40px); }
                .inst { bottom: 0; left: calc(50% - 40px);  }
            }
        }
    
    /* titli */
    
    /* contact */
        .contact-us {     padding-bottom: 280px;
            .text-list { padding-bottom: 10px;}
            #mapper { height: 450px;}
            .form .row{ padding: 0;
                .contact-form-row .contact-form-item { width: 100%; float: none; padding: 10px 0;}                
            }
            .form .contact-form-row-submit{max-width: 100%; width: 100%;}
            .contact-form-textarea{padding: 10px 0 20px;}
        }
    /* contact */
    
    /* pagi */ 
        .pagi-wrap .top-pagi {
            .prew { padding: 0;
                span{display: none;}
                &:before{left: 0; }
            }
            .back-to-port {padding-top: 10px;}
            .next { padding: 0;
                &:before{right: 0; }
                span{display: none;}
            }
        }
    /* pagi */
    
    
}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){
    .listener{ 
        .adolist-1360{display: block;            
            .convertation .artist-list{width: 100%; float: none; margin: 0;
                li{ margin: 0 auto 40px; float: none;  min-width: 200px; min-height: 0; width: 100%; height: auto;
                    .conteiner-s:before{ bottom: 0; right: 0; opacity: 1;}
                        .conteiner-s{
                            .hovered-block{ bottom: 0px; top: calc(100% - 230px); height: 230px; overflow: hidden; padding: 0 0px 10px 10px;
                                .name-band{ padding-top: 90px; font-size: 16px;}
                                .subtext{opacity: 1; font-size: 12px; margin: 0;}
                                .shaped { width: 100%; height: 100%;}
                            }
                        }
                }
            }
        }
    }
    
    /* qestion */
        
        .convert-qestion { padding: 50px 0;
            .title-q h2 { font-size: 26px; }
            .sub-q p { font-size: 14px; }
        }

    /* qestion */
}
@media screen and (max-width: 320px){

}