<div class="agency-wrap">
    <div class="conteiner">
        <div class="mbox">
            <div class="title">
                <h2>BMG Events agency</h2>
                <p>Организации ивентов любой сложности под ключ</p>
            </div>
        </div>        
        <div class="agency">
            <ul class="agency-list cfix">
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-1.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="agency-list cfix">
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-3.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-4.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="agency-list cfix">
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-5.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-6.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="agency-list cfix">
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-7.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-8.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>                                
            </ul> 
            <ul class="agency-list cfix">
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-1.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="agency-list cfix">
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-3.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-4.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="agency-list cfix">
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-5.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-6.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="agency-list cfix">
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-7.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="box">
                    <div class="item">
                        <div class="conteiner-s">
                            <div class="hovered-block">
                                <div class="shaped"></div>
                                <div class="name-band">Sex Pistols</div>
                                <p class="subtext">
                                    The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                    years and produced only four singles and one studio album, Never Mind the Bollocks, Here's the Sex
                                    Pistols, they are considered one
                                </p>

                            </div>
                            <div class="image-block">
                                <img src="images/ag-8.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </li>                                
            </ul> 
        </div>
    </div>
</div>