<div class="booking-top-wrap">
    <div class="mbox">
        <div class="convert-m">  
                      
            <div class="slider-bembi">                
                <div class="slider-item">
                    <div class="convert">
                        <div class="beutifulli-shtock"></div>
                        <div class="conteiner">
                            <div class="cont">
                                <img src="images/tour-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="convert">
                        <div class="beutifulli-shtock"></div>
                        <div class="conteiner">
                            <div class="cont">
                                <img src="images/tour-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="convert">
                        <div class="beutifulli-shtock"></div>
                        <div class="conteiner">
                            <div class="cont">
                                <img src="images/tour-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="convert">
                        <div class="beutifulli-shtock"></div>
                        <div class="conteiner">
                            <div class="cont">
                                <img src="images/tour-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="convert">
                        <div class="beutifulli-shtock"></div>
                        <div class="conteiner">
                            <div class="cont">
                                <img src="images/tour-5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow-prew"> <span> Prev </span> </div>
            <div class="arrow-next"> <span> Next </span> </div>
        </div>
    </div>
</div>