<section class="booking_partners" id="booking_partners">
	<div class="partners-heading-wrapper">
		<div class="booking-partners-heading">
			наши партнеры	
		</div>
	</div>
	<table class="partners-table">
		<tr>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
		</tr>
		<tr>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
		</tr>
		<tr>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
			<td><img src=""></td>
		</tr>
	</table>
</section>