<section class="booking_partners" id="booking_partners">
	<div class="partners-heading-wrapper">
		<div class="booking-partners-heading">
			наши партнеры	
		</div>
	</div>
	<table class="partners-table">
		<tr>
			<td><img src="/images/our-partners-1.png"></td>
			<td><img src="/images/our-partners-2.png"></td>
			<td><img src="/images/our-partners-3.png"></td>
			<td><img src="/images/our-partners-4.png"></td>
			<td><img src="/images/our-partners-5.png"></td>
			<td><img src="/images/our-partners-6.png"></td>
		</tr>
		<tr>
			<td><img src="/images/our-partners-6.png"></td>
			<td><img src="/images/our-partners-5.png"></td>
			<td><img src="/images/our-partners-4.png"></td>
			<td><img src="/images/our-partners-3.png"></td>
			<td><img src="/images/our-partners-2.png"></td>
			<td><img src="/images/our-partners-1.png"></td>
		</tr>
		<tr>
			<td><img src="/images/our-partners-3.png"></td>
			<td><img src="/images/our-partners-1.png"></td>
			<td><img src="/images/our-partners-4.png"></td>
			<td><img src="/images/our-partners-6.png"></td>
			<td><img src="/images/our-partners-5.png"></td>
			<td><img src="/images/our-partners-2.png"></td>
		</tr>
	</table>
</section>