<section class="booking_partners" id="booking_partners">
	<div class="partners-heading-wrapper">
		<div class="booking-partners-heading">
			наши партнеры	
		</div>
	</div>
	<div class="partners-table">
			
				<div><a href=""><img src="/images/our-partners-4.png"></a></div>
				<div><a href=""><img src="/images/our-partners-2.png"></a></div>
				<div><a href=""><img src="/images/our-partners-3.png"></a></div>
				<div><a href=""><img src="/images/our-partners-4.png"></a></div>
				<div><a href=""><img src="/images/our-partners-5.png"></a></div>
				<div><a href=""><img src="/images/our-partners-6.png"></a></div>
			
			
				<div><a href=""><img src="/images/our-partners-6.png"></a></div>
				<div><a href=""><img src="/images/our-partners-5.png"></a></div>
				<div><a href=""><img src="/images/our-partners-4.png"></a></div>
				<div><a href=""><img src="/images/our-partners-3.png"></a></div>
				<div><a href=""><img src="/images/our-partners-2.png"></a></div>
				<div><a href=""><img src="/images/our-partners-1.png"></a></div>

	
				<div><a href=""><img src="/images/our-partners-3.png"></a></div>
				<div><a href=""><img src="/images/our-partners-1.png"></a></div>
				<div><a href=""><img src="/images/our-partners-4.png"></a></div>
				<div><a href=""><img src="/images/our-partners-6.png"></a></div>
				<div><a href=""><img src="/images/our-partners-5.png"></a></div>
				<div><a href=""><img src="/images/our-partners-2.png"></a></div>
		
		</div>
</section>