<div class="conteiner-cli">
    <div class="mbox">
        <div class="title-cli">
            <h2>отзывы клиентов</h2>
        </div>
        <div class="slider-block">
            <div class="cont-slid">
                <div class="item">
                    <div class="conteiner">
                        <div class="top-face">
                            <div class="cont">
                                <img src="images/cli-slider.jpg" alt=""  width="300px" height="300px"/>
                            </div>
                        </div>
                        <div class="name">Иван Иванов</div>
                        <div class="text">Несмотря на сложность задачи, сжатые сроки и различные изменения, организация конференции была на высшем уровне.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <div class="top-face">
                            <div class="cont">
                                <img src="images/cli-slider.jpg" alt=""  width="300px" height="300px"/>
                            </div>
                        </div>
                        <div class="name">Иван Иванов</div>
                        <div class="text">Несмотря на сложность задачи, сжатые сроки и различные изменения, организация конференции была на высшем уровне.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <div class="top-face">
                            <div class="cont">
                                <img src="images/cli-slider.jpg" alt=""  width="300px" height="300px"/>
                            </div>
                        </div>
                        <div class="name">Иван Иванов</div>
                        <div class="text">Несмотря на сложность задачи, сжатые сроки и различные изменения, организация конференции была на высшем уровне.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <div class="top-face">
                            <div class="cont">
                                <img src="images/cli-slider.jpg" alt=""  width="300px" height="300px"/>
                            </div>
                        </div>
                        <div class="name">Иван Иванов</div>
                        <div class="text">Несмотря на сложность задачи, сжатые сроки и различные изменения, организация конференции была на высшем уровне.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <div class="top-face">
                            <div class="cont">
                                <img src="images/cli-slider.jpg" alt=""  width="300px" height="300px"/>
                            </div>
                        </div>
                        <div class="name">Иван Иванов</div>
                        <div class="text">Несмотря на сложность задачи, сжатые сроки и различные изменения, организация конференции была на высшем уровне.</div>
                    </div>
                </div>
            </div>
            <div class="arrow-prew"> <span> Prev </span> </div>
            <div class="arrow-next"> <span> Next </span> </div>
        </div>
    </div>
</div>