<div class="close-project-wrap">
    <div class="title">
        <h2> Завершенные проекты </h2>
    </div>
    <div class="close-project-sl">
        <div class="listener">
            <div class="convertation ">
                <ul class="close-project-slider cfix">
                    <li class="box">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">
                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>
                                    <a href="#"> go to the hell, clever designer</a>

                                </div>
                                <div class="image-block">
                                    <img src="images/cl-p-1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>
                                    <a href="#"> go to the hell, clever designer</a>

                                </div>
                                <div class="image-block">
                                    <img src="images/cl-p-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>    
                    <li class="box">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">
                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>
                                    <a href="#"> go to the hell, clever designer</a>

                                </div>
                                <div class="image-block">
                                    <img src="images/cl-p-1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>
                                    <a href="#"> go to the hell, clever designer</a>

                                </div>
                                <div class="image-block">
                                    <img src="images/cl-p-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>  
                    <li class="box">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">
                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>
                                    <a href="#"> go to the hell, clever designer</a>

                                </div>
                                <div class="image-block">
                                    <img src="images/cl-p-1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>
                                    <a href="#"> go to the hell, clever designer</a>

                                </div>
                                <div class="image-block">
                                    <img src="images/cl-p-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>  
                    <li class="box">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">
                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>
                                    <a href="#"> go to the hell, clever designer</a>
                                    
                                </div>
                                <div class="image-block">
                                    <img src="images/cl-p-1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>
                                    
                                    <a href="#"> go to the hell, clever designer</a>

                                </div>
                                <div class="image-block">
                                    <img src="images/cl-p-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>  
                    <li class="box">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">
                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>
                                    <a href="#"> go to the hell, clever designer</a>

                                </div>
                                <div class="image-block">
                                    <img src="images/cl-p-1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>
                                    <a href="#"> go to the hell, clever designer</a>

                                </div>
                                <div class="image-block">
                                    <img src="images/cl-p-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>                

                </ul>
            </div>
        </div>
    </div>
</div>