<section class="experience" id="experience">
	<div class="exp-heading">
		<h2>Мы уже имеем хороший опыт</h2> 
		<span>в направлениях:</span>
	</div>
	<div class="experience-tabs">
		<div class="tabs-nav">
			<div class="exp-tab active-tab" data-tab="1"><p>Автомобильные бренды</p></div>
			<div class="exp-tab" data-tab="2"><p>Имиджевые и PR мероприятия </p></div>
			<div class="exp-tab" data-tab="3"><p>Развлекательные мероприятия</p></div>
			<div class="exp-tab" data-tab="4"><p>Открытия</p></div>
		</div>
		
		<div class="tab-content">
			<div class="partners-table">
				
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
				
				
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
					<div><a href=""><img src="/images/our-partners-1.png"></a></div>
	
		
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-1.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
			
			</div>
		</div>

		
		<div class="tab-content">
			<div class="partners-table">
				
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
				
				
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
					<div><a href=""><img src="/images/our-partners-1.png"></a></div>
	
		
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-1.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
			
			</div>
		</div>

		
		<div class="tab-content">
			<div class="partners-table">
				
					<div><a href=""><img src="/images/our-partners-1.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
				
				
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
					<div><a href=""><img src="/images/our-partners-1.png"></a></div>
	
		
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-1.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
			
			</div>
		</div>

		
		<div class="tab-content">
			<div class="partners-table">
				
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
				
				
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
					<div><a href=""><img src="/images/our-partners-1.png"></a></div>
	
		
					<div><a href=""><img src="/images/our-partners-3.png"></a></div>
					<div><a href=""><img src="/images/our-partners-1.png"></a></div>
					<div><a href=""><img src="/images/our-partners-4.png"></a></div>
					<div><a href=""><img src="/images/our-partners-6.png"></a></div>
					<div><a href=""><img src="/images/our-partners-5.png"></a></div>
					<div><a href=""><img src="/images/our-partners-2.png"></a></div>
			
			</div>
		</div>
	</div>
</section>