<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

    <div class="mbox">

        <div class="footer-wrap">

            <div class="footer-right">
                <p>
                    <img src="images/contacts-tel.png" alt="" />
                    <a href="callto:461111111111">+46(111)-11-11-111</a>
                </p>
                <p>
                    <img src="images/contacts-email.png" alt="" />
                    <a href="mailto:mail@gmail.com">mail@gmail.com</a>
                </p>
            </div>
            <div class="footer-center">
                <a href="#">
                    <img src="images/soc1.png" alt="" />
                </a>
                <a href="#">
                    <img src="images/soc2.png" alt="" />
                </a>
            </div>
            <div class="footer-left">
                <p>© 2016 BMG Events and BookingAgency</p>
                <p>All rights reserve</p>
            </div>

        </div>

    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/freewall.js" ></script>


<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
