<div class="in-tour-wrap">
    <div class="title">
        <h2>В туре</h2>
    </div>
    <div class="block-bad-items">
        <div class="listener">
            <div class="convertation ">
                <ul class="tour-list cfix">
                    <li class="box size-1-4">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">
                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>

                                </div>
                                <div class="image-block">
                                    <img src="images/tour-1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box size-1-2">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>

                                </div>
                                <div class="image-block">
                                    <img src="images/tour-2.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box size-1-3">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>

                                </div>
                                <div class="image-block">
                                    <img src="images/tour-3.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    
                    <li class="box size-1-2">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>

                                </div>
                                <div class="image-block">
                                    <img src="images/tour-5.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box size-1-2">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>

                                </div>
                                <div class="image-block">
                                    <img src="images/tour-6.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box size-1-4">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>

                                </div>
                                <div class="image-block">
                                    <img src="images/tour-9.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box size-1-3">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>

                                </div>
                                <div class="image-block">
                                    <img src="images/tour-4.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box size-1-2">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>

                                </div>
                                <div class="image-block">
                                    <img src="images/tour-7.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="box size-1-2">
                        <div class="item">
                            <div class="conteiner-s">
                                <div class="hovered-block">

                                    <div class="shaped"></div>
                                    <div class="name-band">Sex Pistols</div>
                                    <p class="subtext" >
                                        The Sex Pistols were an English punk rock band formed in London in 1975. Although they initially lasted just two and a half
                                        years and produced only four singles and one studio album, Never Mind the Bollocks,
                                        Here's the Sex Pistols, they are considered one
                                    </p>

                                </div>
                                <div class="image-block">
                                    <img src="images/tour-8.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </li>                   

                </ul>
            </div>
        </div>
    </div>
</div>