<div class="pagi-wrap">
    <div class="mbox">
        <div class="top-pagi">
            <a href="#" class="prew">
                <span>Предыдущее мероприятие</span>
            </a>
            <a href="#" class="back-to-port">
                <span>Назад в портфолио</span>
            </a>
            <a href="#" class="next">
                <span>Следующее мероприятияе</span>
            </a>
        </div>
        <div class="soc-like">
            <a href="">
                <img src="images/face-b.png" alt="">
            </a>
        </div>
    </div>
</div>