<div class="top-sl">
    <div class="str-box ">
        <div class="collapse cfix">
            
            <div class="soc-chick">
                <a href="" class="fb">
                    <img src="images/fb.png" alt="">
                </a>
                <a href="" class="inst">
                    <img src="images/inst.png" alt="">
                </a>
            </div>
            <div class="super-title">
                <h2>PANTERA</h2>
                <div class="soc-chick soc-in-title">
                    <a href="" class="fb">
                        <img src="images/fb.png" alt="">
                    </a>
                    <a href="" class="inst">
                        <img src="images/inst.png" alt="">
                    </a>
                </div>
            </div>
            <div class="about-block">
                <div class="super-image">
                    <img src="images/pantera.jpg" alt="">
                </div>                
                <p>«Pantera» — американская метал-группа из Арлингтона, Техас, образованная в 1981 году.</p>
                <p>Изначально Pantera придерживалась глэм-метал-моды восьмидесятых, однако к концу десятилетия под влиянием
                    таких трэш-металлических групп, как Slayer, Metallica и Megadeth коллектив постепенно пересмотрел своё
                    музыкальное направление, а в первой половине 1990-х становится одним из пионеров и законодателей поджанра
                    грув-метал.</p>
                <p>Добившись первого коммерческого успеха лишь спустя девять лет после своего образования (с выходом в 1990
                    году альбома Cowboys from Hell), Pantera вскоре стала одной из самых заметных и прославленных в мире
                    тяжёлой музыки. Джейсон Бирчмейер из All Music Guide считает этот коллектив «лучшей метал-группой девяностых
                    и … одной из лучших и самых влиятельных метал-групп всех времён».</p>
                <p>Коллектив занял 45 место в списке «100 величайших исполнителей тяжёлого рока» согласно VH1и 5 место в списке
                    MTV «10 лучших групп тяжёлого метала всех времён»</p>
            </div>
            
            <div class="arrows">
                <a href="#" class="prew-art"> <span> Prev </span> </a>
                <a href="#" class="next-art"> <span> Next </span> </a>
            </div>
        </div>
    </div>
</div>