<div class="listener">
            <div class="mbox">
                <div class="upper-text ctext">
                    <p style="font-size: 14px; margin-top: 0;">The Woodstock Music & Art Fair—informally, the Woodstock Festival or simply Woodstock—was a music festival attracting an audience of 400,000 people, scheduled over three days on a dairy farm in New York state from August 15 to 17, 1969 but which ran over four days to August 18, 1969.</p>
                    <p style="font-size: 14px; margin-top: 0;">Billed as "An Aquarian Exposition: 3 Days of Peace & Music", it was held at Max Yasgur's 600-acre (240 ha; 0.94 sq mi) dairy farm in the Catskills near the hamlet of White Lake in the town of Bethel.[2] Bethel, in Sullivan County, is 43 miles (69 km) southwest of the town of Woodstock, New York, in adjoining Ulster County.</p>
                    <p style="font-size: 14px; margin-top: 0;">During the sometimes rainy weekend, 32 acts performed outdoors before an audience of 400,000 people.[3] It is widely regarded as a pivotal moment in popular music history, as well as the definitive nexus for the larger counterculture generation.</p>
                    <p style="font-size: 14px; margin-top: 0;">Rolling Stone listed it as one of the 50 Moments That Changed the History of Rock and Roll.</p>
                    <p style="font-size: 14px; margin-top: 0;">The event was captured in the Academy Award winning 1970 documentary movie Woodstock, an accompanying soundtrack album, and Joni Mitchell's song "Woodstock", which commemorated the event and became a major hit for both Crosby, Stills, Nash & Young and Matthews Southern Comfort.</p>
                    <p style="font-size: 14px; margin-top: 0;">Woodstock was initiated through the efforts of Michael Lang, John Roberts, Joel Rosenman, and Artie Kornfeld. Roberts and Rosenman financed the project. Lang had some experience as a promoter, having co-organized a small festival on the East Coast the prior year, the Miami Pop Festival, where an estimated 25,000 people attended the two-day event. Early in 1969, Roberts and Rosenman were New York City entrepreneurs, in the process of building Media Sound, a large audio recording studio complex in Manhattan.</p>
                </div>
            </div>
            
            <div class="convertation">
                <ul class="artist-conteiner cfix" id="artist-conteiner" style="list-style: none;">
                    <li class="box">
                        <img src="images/artlist-1.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-2.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-3.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-4.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-5.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-6.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-7.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-6.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-9.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-14.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-10.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-11.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-12.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-13.jpg" alt="" />
                    </li>
                    <li class="box" >
                        <img src="images/artlist-13.jpg" alt="" />
                    </li>
                    
                </ul>
            </div>
        </div>